.accompagnement-section {
  padding: 40px 20px;
  text-align: center;
}

.accompagnement-section h2 {
  font-size: clamp(1.7rem, 4vw, 3rem);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  flex: 1 1 300px;
  max-width: 500px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.5em;
  color: black;
  margin-bottom: 5px;
}

.card-subtitle {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.card-content {
  flex-grow: 1;
  margin-bottom: 20px;
}

.card-content .intro {
  font-style: italic;
  margin-bottom: 15px;
}

.card-content ul {
  list-style-type: "• ";
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card-content .result {
  font-weight: bold;
  color: #577372;
}

.card-footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.card-footer p {
  margin: 0;
}

.special-note {
  font-size: 0.9em;
  color: #888;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px dashed #e0e0e0;
}

.special-note ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.booking-button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #577372;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.booking-button:hover {
  background-color: #577372cb;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}
